<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--测试座机号码-->
    <add key="TelPhone" value="13106000472" />
    <!--通道异常收信人号码,多个号码用逗号隔开-->
    <add key="Phone" value="18905717196,15867161446" />
    <!--通道检测时间间隔，单位分钟-->
    <add key="TimeInterval" value="1" />
    <!--每条短信查询总时间，单位分钟-->
    <add key="SelectTime" value="1" />
    <!--查询短信最大异常次数,查询时间与异常次数的积要小于通道检测时间间隔-->
    <add key="ErrorCount" value="1" />
    <!--短信提交失败次数,发送通道异常短信-->
    <add key="SubmitErrorCount" value="3,5,8,12,17,23,30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>